@{
    Layout = "_AdminLayout";
}


<div class="centered-content" style="text-align:center">
    <h2>Admin paneline hoşgeldiniz. Üstteki veya soldaki menü üzerinden işlemleriniz gerçekleştirebilirsiniz!</h2>
</div>
