@{
    Layout = "_AdminLayout";
}

@model Renewable_Energy_Entities.Reference

<div class="mid-class">
    <div class="art-right-w3ls">
        <h2>Referans Ekle</h2>
        <form action="#" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    @using (Html.BeginForm("ReferenceAdd", "Admin", FormMethod.Post))
                    {
                        @Html.LabelFor(v => v.Name)
                        @Html.TextBoxFor(v => v.Name, new{@class = "form-control"})

                        @Html.LabelFor(v => v.ImageUrl)
                        @Html.TextBoxFor(v => v.ImageUrl, new{@class = "form-control"})

                        <button class="btn btn-warning">Ekle</button>
                    }
                </div>
            </div>
        </form>
    </div>
</div>