@{
    Layout = "_AdminLayout";
}

@model Renewable_Energy_Entities.Reference

<div class="mid-class">
    <div class="art-right-w3ls">
        <h1>Referans Ekle</h1>
        <h5>(Doldurulması zorunlu olan bölümler başında * işareti ile belirtilmiştir.)</h5>
        <br />
        <form action="@Html.BeginForm("ReferenceAdd", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" })" method="post">
            <div class="main">
                <div class="form-left-to-w3l">
                    <span style="color:red;">*</span>
                    @Html.LabelFor(v => v.Name)
                    @Html.TextBoxFor(v => v.Name, new { @class = "form-control", @required = "required" })
                    <br />

                    @Html.LabelFor(v => v.ImageUrl)
                    <input type="file" name="ImageFile" id="ImageFile" class="form-control" />
                    <br />

                    <button class="btn btn-warning">Ekle</button>
                </div>
            </div>
        </form>
    </div>
</div>