<div class="wrapper">
    <div class="preloader">
        <div class="loading"><span></span><span></span><span></span><span></span></div>
    </div><!-- /.preloader -->
    <!-- ============================
        Slider
    ============================== -->
    <section class="slider">
        <div class="slick-carousel carousel-arrows-light carousel-dots-light m-slides-0"
             data-slick='{"slidesToShow": 1, "arrows": true, "dots": true, "speed": 700,"fade": true,"cssEase": "linear"}'>
            <div class="slide-item align-v-h bg-overlay bg-overlay-2">
                <div class="bg-img"><img src="~/images/home/anasayfa1.jpg" alt="slide img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                            <div class="slide__body">
                                <span class="slide__subtitle">
                                    Komple Ticari, Konut ve Endüstriyel Güneş Sistemleri
                                </span>
                                <h2 class="slide__title">Gezegenin Geleceğine Yatırım Yapıyoruz!</h2>
                                <p class="slide__desc">
                                    Dünya çapında güneş enerjisi malzemeleri distribütörü olarak, hızlı ve
                                    Bilgili hizmet, size deniz veya hava yoluyla malzemeleri sağlayabiliriz.
                                </p>
                            </div><!-- /.slide__body -->
                        </div><!-- /.col-xl-8 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.slide-item -->
            <div class="slide-item align-v-h bg-overlay">
                <div class="bg-img"><img src="~/images/home/anasayfa2.jpg" alt="slide img"></div>
                <div class="container">
                    <div class="row">
                        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-8">
                            <div class="slide__body">
                                <span class="slide__subtitle">
                                    Komple Ticari, Konut ve Endüstriyel Güneş Sistemleri
                                </span>
                                <h2 class="slide__title">Güvenilir Enerjiyle Topluma Enerji Verin!</h2>
                                <p class="slide__desc">
                                    Dünya çapında güneş enerjisi malzemeleri distribütörü olarak, hızlı ve
                                    Bilgili hizmet, size deniz veya hava yoluyla malzemeleri sağlayabiliriz.
                                </p>
                            </div><!-- /.slide__body -->
                        </div><!-- /.col-xl-8 -->
                    </div><!-- /.row -->
                </div><!-- /.container -->
            </div><!-- /.slide-item -->
        </div><!-- /.carousel -->
    </section><!-- /.slider -->
    <!--Components-->
    @await Component.InvokeAsync("AboutUsComponents")

    @await Component.InvokeAsync("ReferenceComponents")

    @await Component.InvokeAsync("WorkAreaComponents")

    @await Component.InvokeAsync("ProjectComponents")

    @await Component.InvokeAsync("BlogComponents")
    <!--End Components-->
    <!-- ===========================
      contact layout 2
    ============================= -->
    <section id="request" class="contact-layout2 pb-0 bg-overlay bg-overlay-primary-gradient">
        <div class="bg-img"><img src="images/banners/2.jpg" alt=""></div>
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="col-inner">
                        <div class="heading-layout2 heading-light mb-60">
                            <h2 class="heading__subtitle">Paradan Tasarruf Edin, Çevreyi Koruyun!</h2>
                            <h3 class="heading__title">
                                Devam Eden Ürün ve Yenilik Yoluyla Müşterilerimize Değer Sağlıyoruz.
                            </h3>
                            <p class="heading__desc">
                                Güneş enerjisi işimiz artık bazı ürünler için tercih edilen pazarlama kanalını sağlıyor.
                                dünyanın önde gelen PV üreticileri ve güneş enerjisi uzmanlarımız, ortaklarıyla birlikte çalışarak
                                ürün özellikleri, teslim sürelerinin kısaltılması ve nakit akışının iyileştirilmesi.
                            </p>
                        </div><!-- /.heading -->
                        <div class="row fancybox-light">
                            <!-- fancybox item #1 -->
                            <div class="col-sm-4">
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-biosphere2"></i>
                                    </div><!-- /.fancybox-icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title mb-0">
                                            Çevre Duyarlılığı
                                        </h4>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.col-sm-4 -->
                            <!-- fancybox item #2 -->
                            <div class="col-sm-4">
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-tube"></i>
                                    </div><!-- /.fancybox-icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title mb-0">
                                            Kişiselleştirilmiş Çözümler
                                        </h4>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.col-sm-4 -->
                            <!-- fancybox item #3 -->
                            <div class="col-sm-4">
                                <div class="fancybox-item">
                                    <div class="fancybox__icon">
                                        <i class="icon-electric-charge"></i>
                                    </div><!-- /.fancybox-icon -->
                                    <div class="fancybox__content">
                                        <h4 class="fancybox__title mb-0">
                                            Performans ölçüleri
                                        </h4>
                                    </div><!-- /.fancybox-content -->
                                </div><!-- /.fancybox-item -->
                            </div><!-- /.col-sm-4 -->
                        </div><!-- /.row -->
                    </div>
                </div><!-- /.col-xl-6 -->
                <div class="col-sm-12 col-md-12 col-lg-12 col-xl-6">
                    <div class="contact-panel">
                        <form class="contact-panel__form" method="post" action="assets/php/contact.php" id="contactForm"
                              novalidate="novalidate">
                            <div class="row">
                                <div class="col-sm-12 col-md-12 col-lg-12">
                                    <h4 class="contact-panel__title">
                                        Bir teklif isteği
                                    </h4>
                                </div> <!-- /.col-lg-12 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="İsim Soyisim" id="contact-name" name="contact-name"
                                               required>
                                    </div>
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6 col-md-6 col-lg-6">
                                    <div class="form-group">
                                        <input type="email" class="form-control" placeholder="Email" id="contact-email"
                                               name="contact-email" required>
                                    </div>
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Telefon Numarası" id="contact-Phone"
                                               name="contact-phone">
                                    </div>
                                </div><!-- /.col-sm-6 -->
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <input type="text" class="form-control" placeholder="Adres" id="contact-address"
                                               name="contact-address" required>
                                    </div>
                                </div><!-- /.col-sm-6 -->
                                <div class="col-12">
                                    <span class="font-weight-bold color-heading d-block mb-15 mt-10">
                                        İstekler
                                    </span>
                                </div><!-- /.col-12 -->
                                <div class="form-group">
                                    <textarea class="form-control" placeholder="Ek" id="contact-ek"
                                              name="contact-ek" required></textarea>
                                </div>
                                <div class="col-12">
                                    <span class="font-weight-bold color-heading d-block mb-15 mt-10">Tercih Edilen İletişim Yöntemi</span>
                                    <div class="d-flex">
                                        <div class="form-group input-radio mr-30">
                                            <label class="label-radio">
                                                Hepsi
                                                <input type="radio" name="contact" checked>
                                                <span class="radio-indicator"></span>
                                            </label>
                                        </div><!-- /.input-radio -->
                                        <div class="form-group input-radio mr-30">
                                            <label class="label-radio">
                                                Email
                                                <input type="radio" name="contact">
                                                <span class="radio-indicator"></span>
                                            </label>
                                        </div><!-- /.input-radio -->
                                        <div class="form-group input-radio">
                                            <label class="label-radio">
                                                Telefon
                                                <input type="radio" name="contact">
                                                <span class="radio-indicator"></span>
                                            </label>
                                        </div><!-- /.input-radio -->
                                    </div>
                                    <button type="submit" class="btn btn__secondary btn__block">
                                        <i class="icon-arrow-right"></i> <span>
                                            İstek gönderin
                                        </span>
                                    </button>
                                    <div class="contact-result"></div>
                                </div><!-- /.col-12 -->
                            </div><!-- /.row -->
                        </form>
                    </div>
                </div><!-- /.col-xl-6 -->
            </div><!-- /.row -->
        </div><!-- /.container -->
    </section><!-- /.contact layout 2 -->

    <button id="scrollTopBtn"><i class="fas fa-long-arrow-alt-up"></i></button>

</div><!-- /.wrapper -->